* {
    box-sizing: border-box;
    text-align: center;
  }

body{
    background-color: #cbcacc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

div{
    width: 85%;
    padding: 25px;
    border-style: solid;
    margin: 10px auto;
    color: rgb(105, 105, 105);
    background-color: rgb(248, 248, 238);
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  .container {
    margin: 0 auto;
    margin-top: 50px;
    width: 950px;
    color: white;
    font-size: 1.25em;
  }

section{
    width:50%;
    height: 250px;
    padding: 25px;
    border-style: solid;
    margin: 10px 5px;
    color: rgb(105, 105, 105);
    text-align: center;
    background-color: rgb(248, 248, 238);
    float: left;
}

article{
    display: block;
    width:80%;
    height: 130px;
    padding: 5px;
    border-style: solid;
    margin: 10px 5px;
    color: rgb(248, 248, 238);
    background-color: rgb(105, 105, 105);
    float: left;
}

p{
    width: 80%;
    height: 130px;
    padding: 5px;
    border-style: solid;
    margin: 10px 5px;
    color:  rgb(105, 105, 105);
    background-color: rgb(248, 248, 238);
    float: left;    
}

aside{
    width:45%;
    height: 250px;
    padding: 25px;
    border-style: solid;
    margin: 10px auto;
    color: rgb(105, 105, 105);
    background-color: rgb(248, 248, 238);
    float: right;
}

footer{
    width: 65%;
    padding: 25px;
    border-style: solid;
    margin: 10px auto;
    color: rgb(105, 105, 105);
    background-color: rgb(248, 248, 238);   
}